* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

body {
    background-image: url(./img/S6FN3GIPVJB3XGSKU327VXQYBQ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 45px;
    margin: 20px 50px;
}

.box {
    border: px solid;
    width: 40%;
    height: 300px;
    background-color: transparent;
}

.bu {
    margin: 80px 170px;
}
.container {
    display: flex;
    margin: 75px 190px;
    justify-content: center;
}

.cotizbx {
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

img{
    width: 350px;
    height: 250px;
    border: 1px solid;
    text-align: center;
    margin: 80px 170px;
}